@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 17 24 39;
    --foreground: 243 244 246;
    --card: 31 41 55;
    --card-foreground: 243 244 246;
    --primary: 59 130 246;
    --primary-foreground: 255 255 255;
    --secondary: 107 114 128;
    --secondary-foreground: 255 255 255;
    --accent: 96 165 250;
    --accent-foreground: 17 24 39;
    --muted: 107 114 128;
    --muted-foreground: 209 213 219;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --border: 55 65 81;
    --input: 55 65 81;
    --ring: 59 130 246;
    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  @apply scroll-smooth;
}
